.duplicata {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.duplicata div {
  width: 180px;
}

.duplicata .header {
  font-weight: bold;
  font-size: 14px;
}

.btn-close {
  float: right;
}

h2 {
  border-bottom: 1px solid black;
}
