.content {
  font-family: "Courier New", Courier, monospace;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}

.data-table {
  margin-top: 50px;
  padding: 10px;
  min-height: 50vh;
}

button {
  background-color: white;
  border: 1px solid gray;
  font-weight: bold;
  cursor: pointer;
}
